<template>
    <div class="recommend">
        <div class="swipers">
            <mt-swipe :auto="3000">
                    <mt-swipe-item>
                        <img src="../../../assets/images/pic/banner1.png" width="100%">
                    </mt-swipe-item>
                    <mt-swipe-item>
                        <img src="../../../assets/images/pic/banner2.jpg" width="100%">
                    </mt-swipe-item>
                    <mt-swipe-item>
                        <img src="../../../assets/images/pic/banner3.png" width="100%">
                    </mt-swipe-item>
                    <mt-swipe-item>
                        <img src="../../../assets/images/pic/banner4.jpg" width="100%">
                    </mt-swipe-item>
                    <mt-swipe-item>
                        <img src="../../../assets/images/pic/banner5.png" width="100%">
                    </mt-swipe-item>
            </mt-swipe>
        </div>
        <div class="classify">
            <li>
               <div>
                   <i class="icon-icon-fm"></i>
               </div> 
               <p>私人FM</p>
            </li>
            <li>
                <div>
                   <i class="icon-icon-recom"></i>
               </div> 
               <p>每日歌曲推荐</p>
            </li>
            <li>
                <div>
                   <i class="icon-icon-play"></i>
               </div> 
               <p>云音乐热歌榜</p>
            </li>
        </div>
        <div class="music">
            <playlist></playlist>   
        </div>
        <div class="changesite">
             <p>现在可以根据个人喜好，自由调整首页栏目顺序啦~</p>
             <i>调整栏目顺序</i>
        </div>
    </div>
</template>
<script type='text/ecmascript-6'>
  import playlist from '../../../components/playlist/playlist.vue';
export default {
props:{
},
data(){
return{
}
},
methods:{
},
created(){
},
components:{
    playlist
}
}
</script>
<style lang='stylus' rel='stylesheet/stylus'>
@import "../../../assets/css/mixin";
        .swipers
            width 100%
            height 140px
            margin-top 85px
            .mint-swipe-indicators
                bottom 4px
                .mint-swipe-indicator
                    background-color #fff 
                    opacity .6
                .is-active
                    background-color #C20C0C 
        .classify
            width 100% 
            height 94px
            text-align center
            margin-top 19px
            margin-bottom 19px
            li 
              width 33.33%
              height 94px
              float left
              list-style none
              div
                display inline-block
                width 59px
                height 59px
                line-height 59px
                color rgba(80, 80, 80, 1);
                background-color rgba(238, 238, 238, 1)
                border-radius 50%
                font-size 30px
                font-family PingFang SC
                text-align center
                i 
                 margin-top 2px
                 color #c20c0c 
              p  
                color rgba(80, 80, 80, 1)
                font-family PingFang SC
                font-size 14px
                line-height 150%
                text-align center
        .changesite
            width 100%
            text-align center;
            margin-top 40px
            padding-bottom 91px
            p 
                height 56px;
                line-height 56px;
                color rgba(128, 128, 128, 1)
                font-size 14px
                font-family PingFang SC
                text-align center
            i  
                display inline-block
                width 117px
                height 35px
                line-height 35px;
                color rgba(255, 255, 255, 1)
                font-family PingFang SC
                background-color #c20c0c
                font-size 14px
                text-align center  
                font-style  normal 
</style>