<template>
   <div class="ranking">
     每日排行版，开发中。。。。
   </div>
</template>
<script type='text/ecmascript-6'>
export default {
props:{
},
data(){
return{
}
},
methods:{
},
created(){
},
components:{
}
}
</script>
<style lang='stylus' rel='stylesheet/stylus'>
.ranking
    margin-top 85px
</style>