<template>
  <div class="mymusic">
      我的音乐页面，持续开发中。。。
  </div>
</template>
<script type='text/ecmascript-6'>
export default {
props:{
},
data(){
return{
}
},
methods:{
},
created(){
},
components:{
}
}
</script>
<style lang='stylus' rel='stylesheet/stylus'>
</style>