<template>
   <div class="my">
      我的页面，持续开发中。。。
   </div>
</template>
<script type='text/ecmascript-6'>
export default {
props:{
},
data(){
return{
}
},
methods:{
},
created(){
},
components:{
}
}
</script>
<style lang='stylus' rel='stylesheet/stylus'>
</style>