
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?oaw9wr');
  src:  url('../fonts/icomoon.eot?oaw9wr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?oaw9wr') format('truetype'),
    url('../fonts/icomoon.woff?oaw9wr') format('woff'),
    url('../fonts/icomoon.svg?oaw9wr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tab-icon1:before {
  content: "\e907";
  font-size: 23px;
}
.icon-icon-fm:before {
  content: "\e900";
}
.icon-icon-play:before {
  content: "\e901";
}
.icon-icon-recom:before {
  content: "\e902";
}
.icon-icon-voice:before {
  content: "\e903";
}
.icon-tab-icon2:before {
  content: "\e904";
  font-size: 23px;
}
.icon-tab-icon3:before {
  content: "\e905";
  font-size: 23px;
}
.icon-tab-icon4:before {
  content: "\e906";
  font-size: 23px;
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-film:before {
  content: "\e913";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-location2:before {
  content: "\e948";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-tumblr2:before {
  content: "\eaba";
}
.icon-yahoo2:before {
  content: "\eabc";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-wikipedia:before {
  content: "\eac8";
}
.icon-lastfm:before {
  content: "\eacb";
}

