<template>
    <div class="musicfm">
        音乐电台，开发中。。。。。
    </div>
</template>
<script type='text/ecmascript-6'>
export default {
props:{
},
data(){
return{
}
},
methods:{
},
created(){
},
components:{
}
}
</script>
<style lang='stylus' rel='stylesheet/stylus'>
.musicfm
    margin-top 85px
</style>