<template>
    <div class="playlist">
        <div class="tilte">推荐歌单></div>
        <div class="list clearfix">
            <li v-for="item in items">
                <i><span class="icon-headphones"></span>{{item.count}}万</i>
                <img src="../../assets/images/pic/bgs.png" alt="">
                <p>{{item.desc}}</p>
            </li>   
        </div>
    </div>
</template>
<script type='text/ecmascript-6'>
export default {
props:{
},
data(){
return{
    headname:[
       '推荐歌单>',
       '独家放送>',
       '最新音乐>',
       '推荐MV>',
       '精选专栏>',
       '主播电台>',

    ],
    items:[
        {
            count: 207,
            desc:'华语/百首写给前任的歌，让你百感...'
        },
        {
            count: 47,
            desc:'清风徐来暗香浮动心扉'
        },
        {
            count: 47,
            desc:'年度最受欢迎个性推荐歌曲'
        },
        {
            count: 2881,
            desc:'盘点那些不容错过的经典欧美歌曲'
        },
        {
            count: 325,
            desc:'粤语念白|你连讲话都这么有味'
        },
        {
            count: 23,
            desc:'【中国诗词大会】第二季'
        },
    ]
}
},
methods:{
},
created(){
},
components:{
}
}
</script>
<style lang='stylus' rel='stylesheet/stylus'> 
@import '../../assets/css/base'
    .playlist
        width 100% 
        .tilte 
            height 47px;
            line-height 47px
            text-indent 12px;
            color rgba(80, 80, 80, 1);
            font-size 16px;
            text-align left;
            background linear-gradient(to right, rgba(194, 12, 12, 0.24)  , #fff)
        .list
            width 100%
            li 
              width 33.3333% 
              list-style none 
              position relative
              float left
              i 
                position absolute
                top 0
                right 0
                display inline-block
                text-align center
                width 90px
                height 29px
                line-height 29px
                color rgba(118, 118, 118, 1)
                font-size 14px
                font-family PingFang SC
                font-style normal
                text-align right
                padding-right 5px
                span
                  font-size 14px
                  margin-right 5px
              img  
                height 123px
              p 
                margin: 0;
                height 35px
                padding-top 10px
                color rgba(80, 80, 80, 1)
                text-indent 10px
                font-size 13px;
                font-family PingFang SC
                text-align left;  



</style>