<template>
<div class="musiclist">
    歌单列表，开发中。。。。
</div>
</template>
<script type='text/ecmascript-6'>
export default {
props:{
},
data(){
return{
}
},
methods:{
},
created(){
},
components:{
}
}
</script>
<style lang='stylus' rel='stylesheet/stylus'>
.musiclist
    margin-top 85px
</style>