<template>
  <div class="guide">
      <span class="guide-second" v-show="timeShow">{{getTime()}}&nbsp;秒</span>
      <div class="guide-logo"></div>
      <div class="guide-welcome"></div>
  </div>
</template>
<script type='text/ecmascript-6'>
export default {
props:{
},
data(){
    return{
       time:10, 
       timeShow:true
    }
},
methods:{
   getTime(){
       let comptutedTime = setTimeout(() => {
           this.time--;
       }, 1000);
       if(this.time == -1)
       {
           clearTimeout(comptutedTime)
           this.timeShow = false;
       }
       else
       {
          return this.time
       }

   }
},
computed:{
   
},
created(){
},
components:{
}
}
</script>
<style lang='stylus' rel='stylesheet/stylus'>
    .guide
       width 100%
       padding-top 50%
       position relative
       .guide-logo
            width 50%
            height 200px
            margin-left 25%
            background url('../../assets/images/linkfire-logo.png') no-repeat
            background-size contain
        .guide-second   
            display inline-block
            position absolute
            top 20px
            right 20px
            padding 5px 20px
            background-color #050f40 
            font-size 14px
            color #fff
            border-bottom-left-radius 20px
            border-top-left-radius 20px
            border-bottom-right-radius 20px
            border-top-right-radius 20px
        .guide-welcome
            width 100%
            margin-top 48%
            height 100px
            background url(https://cdn.dribbble.com/users/1373911/screenshots/4129134/hello_dribble.gif) no-repeat
            background-size 100% 100px
        .guide-title
            margin-top 15px
            text-align center
            font-size 25px
            color #DA205E
            font-weight 500 
            font-style oblique

</style>