<template>
    <div class="main">
        <mt-header title="登录/注册">
            <mt-button icon="more" slot="right"></mt-button>
        </mt-header>
        <div class="login-pic">
        </div>
        <div class="login-filed">
            <mt-field label="账号" placeholder="手机号码/邮箱" state="accountStatus" type="text" v-model="account"></mt-field>
            <mt-field label="密码" placeholder="密码还记得住吧" type="password" v-model="password"></mt-field>
        </div>
        <mt-button type="primary" @click="getData" class="login-btn">登录</mt-button>
        
      
    </div>
</template>
<script type='text/ecmascript-6'>
import {getLogin} from '@/api/data';
import { Toast,Indicator } from 'mint-ui';
import Tool from '@/assets/js/tool';
import Judege from '@/assets/js/judge';
export default {
    props:{

    },
    data(){
        return{
            site:222,
            userinfo:false,
            userMsg:{},
            account:'',
            password:'',
            accountStatus:'',
        }
    },
    created(){
    },
    methods:{
       getData(){
           let t = this;
           if(!Judege.isPone(t.account))
           {
               Toast({
                    message: '请填写正确的手机号码'
                });
                return;
           }
           if(!Judege.isPassWord(t.password))
           {
                Toast({
                    message: '请先填写密码'
                });
                return;
           }
            Indicator.open('正在登录中,请稍候...');
            setTimeout(()=>{
                getLogin().then((res)=>{
                        Indicator.close();
                        t.userMsg = res.data;
                        t.accountStatus = "success";
                        Tool.setLocalStroage('userinfo',res.data);
                        Toast({
                             message: '操作成功',
                             iconClass: 'icon icon-success'
                        });
                })
            },1550)
           
           
       } 
    },
    components:{

    }
}
</script>
<style scoped lang="stylus">
    .main
      height 100%
      text-align center
      background-color #ea4c89b0
      background url(https://cdn.dribbble.com/users/288987/screenshots/2643193/attachments/529737/orca-wp-2560x1440.png) no-repeat
      background-size 100% 100%
      .login-pic
          width 150px
          height 150px
          display inline-block
          border-radius 50%
          background url('https://cdn.dribbble.com/users/1056629/screenshots/5025942/spirit_roots_char_run.gif') no-repeat
          background-size 150px 150px
          margin-top 15%
          background-color #ea4c89
      .mint-header
          background-color #ea4c89
      .login-btn
          width 60px
          height 60px
          font-size 14px
          background-color #ea4c89
          border-radius 50%
          margin-top 10%
      .login-filed  
          margin-top 20% 
          width 80%
          margin-left 10%

</style>