<template>
  <div id="app">
    <mt-tabbar  fixed>
          <mt-tab-item id="index" :class="isActive[0]==1 ? 'active' : ''">
              <i slot="icon" class="icon-tab-icon1"  @click="goIndex"></i>
              发现音乐
          </mt-tab-item>
          <mt-tab-item id="mymusic" :class="isActive[1]==1 ? 'active' : ''">
              <i slot="icon" class="icon-tab-icon2" @click="goMusic"></i>
              我的音乐
          </mt-tab-item>
          <mt-tab-item id="friends" :class="isActive[2]==1 ? 'active' : ''">
              <i slot="icon" class="icon-tab-icon3" @click="goFriend"></i>
              朋友
          </mt-tab-item>
          <mt-tab-item id="my" :class="isActive[3]==1 ? 'active' : ''">
              <i slot="icon" class="icon-tab-icon4" @click="goMy"></i>
              帐号
          </mt-tab-item>
    </mt-tabbar>
    <router-view></router-view>

  </div>
</template>

<script>
export default {
  data(){
    return{
        isActive:[1,0,0,0]
    }
  },
  methods:{
    goIndex:function(){
      this.$router.push({ path: '/index' })
      this.judgeActive(0)
      
    },
    goMusic:function(){
      this.$router.push({ path: '/mymusic' })
      this.judgeActive(1)
    },
    goFriend:function(){
      this.$router.push({ path: '/friends' })
      this.judgeActive(2)
    },
    goMy:function(){
      this.$router.push({ path: '/my' })
      this.judgeActive(3)
    },
    judgeActive:function(index){
        this.isActive= [0,0,0,0];
        this.isActive[index] = 1;
    }
  },
  computed:{

  }
}
</script>

<style lang="stylus" scoped>
  html 
    height 100%
  body
    height 100%
    margin 0
   #app 
     position relative
     overflow hidden
     height 100%
    .mint-tabbar
       z-index 1000
      .active 
          color #c20c0c   
</style>
