<template>
   <div class="index">
       <div class="header clearfix">
           <i class="icon-icon-voice voice"></i>
           <input type="search" class="search" placeholder="搜索音乐、歌词、电台">
           <i class="icon-icon-play play"></i>
       </div>
       <div class="toptab clearfix">
            <router-link tag="li" to="/index/recommend">个性推荐</router-link>
            <router-link tag="li" to="/index/musiclist">歌单</router-link>
            <router-link tag="li" to="/index/musicfm">主播电台</router-link>
            <router-link tag="li" to="/index/ranking">排行榜</router-link>
       </div>
       <transition :name="transitionName">
            <keep-alive>
                <router-view class="child-view"></router-view>
            </keep-alive>
       </transition>
   </div>
</template>
<script type='text/ecmascript-6'>

export default {
props:{
},
data(){
    return{
       transitionName: 'slide-left'
    }
},
methods:{
},
created(){
},
components:{
},
watch:{
     '$route' (to, from) {
            const toDepth = to.path.split('/').length
            const fromDepth = from.path.split('/').length
            this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
     }
}
}
</script>
<style lang='stylus' rel='stylesheet/stylus'>
@import "../../assets/css/mixin";
     .index
         width 100%
         background-color #fff
        .header
           width 100%
           height 44px
           display flex!important
           line-height 44px
           position fixed
           top 0
           z-index: 100;
           background-color: #fff;
          .voice,.play 
            width 24px
            height 24px
            left 6px
            top 30px
            flex 24px 0 auto
            font-size 24px
          .voice 
              margin 10px 15px 0 6px
              float left 
              color #C20C0C
          .play  
              margin 10px 9px 0 12px
              float left 
              color #C20C0C
          .search 
            flex 1  
            position relative
            float left
            display inline-block
            margin-top 7px
            width 230px
            height 30px
            text-indent 10px
            color rgba(80, 80, 80, 1)
            background-color rgba(218, 218, 218, 1)
            border-radius 15px
            font-size 12px
            line-height 150%
            text-align center 
            border 0
            outline none  
        .toptab
           width 100%
           height 41px
           position fixed
           top 44px
           z-index 100
           background-color #fff
           li 
                float left
                list-style none 
                width 25%
                height 41px
                line-height 41px 
                text-align center
                font-family PingFang SC
                color rgba(128, 128, 128, 1)
                font-size 13px
            .active 
                color #C20C0C 
                border-1px(#C20C0C)


        .child-view
            overflow-y auto
            position absolute
            left 0
            width 100%
            height 100%
            transition all .5s cubic-bezier(.55,0,.1,1)
            z-index 10
        .slide-left-enter, .slide-right-leave-active
            opacity 0
            -webkit-transform translate(30px, 0)
            transform translate(30px, 0)
        .slide-left-leave-active, .slide-right-enter 
            opacity 0
            -webkit-transform translate(-30px, 0)
            transform translate(-30px, 0)
 

                
                

</style>